{{ if eq .chezmoi.os "windows" -}}

{{ range .installs.windows.winget -}}
call winget install {{ . | quote }}
{{ end -}}

cd %USERPROFILE%
wsl --install --no-launch
{{ else if eq .chezmoi.os "linux" -}}
#!/bin/bash

cd ~

{{ range .installs.linux.ppa -}}
sudo add-apt-repository {{ . | quote }}
{{ end -}}

sudo apt update

{{ range .installs.linux.apt -}}
sudo apt install {{ . | quote }} -y
{{ end -}}

sudo apt full-upgrade

(type -p wget >/dev/null || (sudo apt update && sudo apt-get install wget -y)) \
&& sudo mkdir -p -m 755 /etc/apt/keyrings \
&& wget -qO- https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null \
&& sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg \
&& echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
&& sudo apt update \
&& sudo apt install gh -y

chsh -s $(which fish)
curl -sS https://starship.rs/install.sh | sh


{{ end -}}



mkdir source
cd source

{{ range .installs.all.git -}}
git clone {{ printf "%s %s" .url .args }}
cd {{ .name | quote }}

{{ template "bootstrap_and_back.tmpl" $.chezmoi.os }}

{{ end -}}

cd vcpkg

{{ if eq .chezmoi.os "windows" -}}
set PATH=%PATH%;%CD%
vcpkg integrate install

{{ else if eq .chezmoi.os "linux" -}}
export PATH=$PATH:$PWD


{{ end -}}

{{ range .installs.all.vcpkg -}}

vcpkg install {{ . | quote }}

{{ end -}}